.inCart-card{
    margin-top: 2%;
    width: 200px;
    height: 330px;
    border: rgb(119, 44, 44) solid 2px;
    border-radius: 5%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 0;
}
.card-header{
   
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}
h3{
    font-weight: 500;
   margin:auto
}

mat-card-title{
 
    display: flex;
    align-items:center;
    justify-content: flex-start; 
}
mat-card-subtitle{
   margin-top: -3vh;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.photo{
    height: 45%;
    width: 45%;
}

.remove:hover{
    background-color: rgb(238, 20, 20);
    color: yellow;
}
@media screen and (width: 280px){
    .inCart-card{
        margin-top: 2%;
        width: 170px;
        height: 330px;
        border: rgb(119, 44, 44) solid 2px;
        border-radius: 5%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        background-color: #fff;
        z-index: 0;
    } 
}