.category-display{
    width: 70vw;
    height: 100%;
    padding-top: 10%;
    padding-left:3%;
    background-color: #f7e9bb;
   
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
   
    overflow: auto;
    background-color: rgb(157, 243, 20);
}