.cart{
    height: 85vh;
    width:30vw;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   border-right: 1px solid rgb(129, 128, 128);
}
.incart-display{
    width:30vw ;
    height: 77vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;  
    z-index: 0;
    overflow: auto;
    background-color: #f7e9bb;
    padding-bottom: -8%;
}
.headings{
    z-index: 10;
    position: fixed;
    width: 30vw;
    height: 8vh;
    background-color: rgb(201, 195, 195);
    opacity: 1;
    top: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1%;
    margin-top: -.3%;
}
h3{
    margin-top: -3%;
   margin-left: 2%;
}
h5{
   margin-top: -3%;
    margin-left: 2%;  
}
.head{
    width:25vw ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.empty{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.empty-btn{
    height: 30px;
    width:80px;
    font-size: 12px;
    background-color: rgb(241, 95, 95);
    color: yellow;
    margin-top: 10%;
    margin-right: 10%;
    cursor: pointer;
}
.inCart-products{
    
   height: 75vh;
   padding-top: 30%;
  
   z-index: 0;
  
}
.total{
    position: fixed;
    height: 8vh;
    width: 30vw;
    background-color: rgb(201, 195, 195);
    z-index: 10;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom:0
}
.total-btn{
    margin-right: 2%;
    background-color: rgb(76, 216, 11);
}
h4{
margin-top: 5%;
margin-left: 2%;
font-weight: bold;
}
@media screen and (max-width: 1200px){
    .cart{
        margin-top: 8vh;
        height: 77vh;
        width:40vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
    }
    .head{
        width:40vw ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
   
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:60px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:40vw ;
        height: 67vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
       
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 40vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
        top: 10;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 6%;
        margin-top: -10%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 40vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}
@media screen and (max-width: 960px){
    .cart{
        margin-top: 8vh;
        height: 77vh;
        width:40vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:38w ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:70px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:40vw ;
        height: 66vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 40vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
        top: 10;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5%;
        margin-top: -10%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 40vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}

@media screen and (max-width: 750px){
    .cart{
        margin-top: 8vh;
        height: 77vh;
        width:50vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:40vw ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:60px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:50vw ;
        height: 66vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 50vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
        top: 10;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 3%;
        margin-top: -10%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 50vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}
@media screen and (max-width: 610px){
    .cart{
        margin-top: 8vh;
        height: 77vh;
        width:50vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:38w ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:70px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:50vw ;
        height: 65vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 50vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
        top: 10;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2%;
        margin-top: -10%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 50vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}
@media screen and (max-width: 415px){
    .cart{
        margin-top: 8vh;
        height: 80vh;
        width:80vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:50vw ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:60px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:80vw ;
        height: 70vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 80vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
       
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2%;
        margin-top: -15%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 80vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}
@media screen and (max-width: 330px){
    .cart{
        margin-top: 8vh;
        height: 80vh;
        width:80vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:50vw ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
        font-size: 15px;
        margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:50px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:80vw ;
        height: 70vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 80vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
       
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2%;
        margin-top: -15%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 80vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}



@media screen and (max-width: 290px){
    .cart{
        margin-top: 8vh;
        height: 80vh;
        width:80vw;
       display: flex;
       flex-direction: column;
       overflow: auto;
       border-right: 2px solid rgb(59, 58, 58);
    }
    .head{
        width:75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    h3{
      margin-top: 0%;
       margin-left: 2%;
    }
    h5{
      display: none;
    }
    
    .empty{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .empty-btn{
        height: 35px;
        width:60px;
        font-size: 12px;
        background-color: rgb(241, 95, 95);
        color: yellow;
        margin-top: 10%;
        margin-right: 19%;
        cursor: pointer;
    }
    .incart-display{
        width:80vw ;
        height: 70vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;  
        z-index: 0;
        overflow: auto;
        background-color: #f7e9bb;
    }
    .headings{
        z-index: 10;
        position: fixed;
        width: 80vw;
        height: 10vh;
        background-color: rgb(201, 195, 195);
        opacity: 1;
       
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 2%;
        margin-top: -20%;
    }
    .total{
        position: fixed;
        height: 8vh;
        width: 80vw;
        background-color: rgb(201, 195, 195);
        z-index: 10;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom:0
    }
    .total-btn{
        margin-right: 4%;
        background-color: rgb(76, 216, 11);
    }
}






